.java
.Xauthority
.bash_history
.bash_logout
.cache
.dmrc
.pki
.vnc
.wget-hsts
.local
.pulse
.pulse-cookie
.gnupg
.dbus
.oracle_jre_usage
temp
teamviewer-host_armhf.deb
JMRI*
release*.zip
.xsession-errors*
python_games
.config
.ssh
